!
! $Id: gptl.inc.template,v 1.3 2011-03-28 20:55:19 rosinski Exp $
!
! Author: Jim Rosinski
!
! GPTL header file to be included in user code. Values match
! their counterparts in gptl.h. See that file or man pages
! or web-based documenation for descriptions of each value
!
      integer, parameter :: GPTLsync_mpi        = #GPTLsync_mpi
      integer, parameter :: GPTLwall            = #GPTLwall
      integer, parameter :: GPTLcpu             = #GPTLcpu
      integer, parameter :: GPTLabort_on_error  = #GPTLabort_on_error
      integer, parameter :: GPTLoverhead        = #GPTLoverhead
      integer, parameter :: GPTLdepthlimit      = #GPTLdepthlimit
      integer, parameter :: GPTLverbose         = #GPTLverbose
      integer, parameter :: GPTLpercent         = #GPTLpercent
      integer, parameter :: GPTLdopr_preamble   = #GPTLdopr_preamble
      integer, parameter :: GPTLdopr_threadsort = #GPTLdopr_threadsort
      integer, parameter :: GPTLdopr_multparent = #GPTLdopr_multparent
      integer, parameter :: GPTLdopr_collision  = #GPTLdopr_collision
      integer, parameter :: GPTLdopr_memusage   = #GPTLdopr_memusage
      integer, parameter :: GPTLprint_method    = #GPTLprint_method
      integer, parameter :: GPTLtablesize       = #GPTLtablesize
      integer, parameter :: GPTLmaxthreads      = #GPTLmaxthreads
      integer, parameter :: GPTLmaxwarps_gpu    = #GPTLmaxwarps_gpu
      integer, parameter :: GPTLtablesize_gpu   = #GPTLtablesize_gpu
      integer, parameter :: GPTLmaxtimers_gpu   = #GPTLmaxtimers_gpu

      integer, parameter :: GPTLnanotime        = #GPTLnanotime
      integer, parameter :: GPTLmpiwtime        = #GPTLmpiwtime
      integer, parameter :: GPTLclockgettime    = #GPTLclockgettime
      integer, parameter :: GPTLgettimeofday    = #GPTLgettimeofday
      integer, parameter :: GPTLplacebo         = #GPTLplacebo
      integer, parameter :: GPTLread_real_time  = #GPTLread_real_time

      integer, parameter :: GPTLfirst_parent    = #GPTLfirst_parent
      integer, parameter :: GPTLlast_parent     = #GPTLlast_parent
      integer, parameter :: GPTLmost_frequent   = #GPTLmost_frequent
      integer, parameter :: GPTLfull_tree       = #GPTLfull_tree

! Externals

      integer, external :: gptlsetoption
      integer, external :: gptlinitialize
      integer, external :: gptlstart
      integer, external :: gptlstart_handle
      integer, external :: gptlinit_handle
      integer, external :: gptlstop
      integer, external :: gptlstop_handle
      integer, external :: gptlstamp 
      integer, external :: gptlpr
      integer, external :: gptlpr_file
      integer, external :: gptlpr_summary
      integer, external :: gptlpr_summary_file
      integer, external :: gptlbarrier
      integer, external :: gptlreset 
      integer, external :: gptlreset_timer
      integer, external :: gptlfinalize
      integer, external :: gptlget_memusage
      integer, external :: gptlprint_memusage
      integer, external :: gptlprint_rusage
      integer, external :: gptlenable
      integer, external :: gptldisable
      integer, external :: gptlsetutr
      integer, external :: gptlquery
      integer, external :: gptlget_wallclock
      integer, external :: gptlget_wallclock_latest
      integer, external :: gptlget_threadwork
      integer, external :: gptlstartstop_val
      integer, external :: gptlget_eventvalue
      integer, external :: gptlget_nregions
      integer, external :: gptlget_regionname
      integer, external :: gptlevent_name_to_code
      integer, external :: gptlevent_code_to_name
      integer, external :: gptlnum_errors
      integer, external :: gptlnum_warn
      integer, external :: gptlget_count
